:root{
  --primary : linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;
  background: var(--primary);
  
}



.container{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  gap: .1rem;
  background: rgba(255, 255, 255,.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 25px #000;
}


.output{

  width: 100%;
  height: 35vh;
  background-color: rgb(0, 0, 0,.5);
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  padding: 10px;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: .7fr .7fr .5fr .7fr;
  letter-spacing: .05rem;
}

.output > .result{
  margin: .5rem 1rem 0 0;    
  overflow-x: auto;
  grid-row: 1;
  grid-column: 1/2;
}

.result::-webkit-scrollbar{
  display: block;
  width: 5px;
  height: 5px;
}
.result::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 10px ;
}
.output>.prev_result{
  color: rgb(170, 170, 170);
  padding-top: .5rem;
  margin-right: 1rem;
  overflow: auto;
  grid-row: 2;
  font-size: 1rem;
}
.prev_result::-webkit-scrollbar{
  display: none;
}
.history{
  font-size: .8rem;
  color: rgb(230, 230, 230);
  line-height: 1rem;
  overflow-y: auto;
  padding: .5rem;
}
.history:not(:first-child){
  grid-row: 2/5;
  grid-column: 2;
}
.history::-webkit-scrollbar{
  display: block;
  width: .3rem;
  height: 5px;
}
.history::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 20px ;
  
}
.clear_history{

  width: 90%;
  height: 65%;
  grid-row: 4/5;
  grid-column: 1;
  padding: .2rem .05rem;
  border-radius: 20px;
  background: var(--primary);
  
}

.clear_history:hover{
  animation: bgchange 1s infinite;
}



@keyframes bgchange{
  0%{
      background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  }
  50%{
      background: linear-gradient(to right,  #c471ed,#f64f59, #12c2e9);
  }
  100%{
      background: linear-gradient(to right,#f64f59, #12c2e9, #c471ed);
  }

}

.operand_display{
  font-size: 1.5rem;
  text-align: right;
  grid-row: 3;
  grid-column: 1;
  text-align: left;
  padding-top: .5rem;
}

.filter_box{
  width: 90%;
  height: 75%;
  border-radius: 20px;
  text-align: center;
  background: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1rem; 
  position: relative;
  overflow: hidden;  
}




.keyboards{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: .1rem;
  
}
.row{
  display: flex;
  flex-direction: row;
  gap: .1rem;
}
.colspan{
  width: 50%;

}

button{
  width: 25%;
  height: 3rem;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
button:hover{
  background-color: rgba(110, 110, 110,.2);
  
}

button[data-operation]{
  font-size: 1.5rem;
  font-weight: 300;

}

.left_curve{
  border-radius: 0  0 0 20px;
  font-size: 1.5rem;
}

.right_curve{
  border-radius: 0 0 20px 0;
}










@media screen and (max-width : 1024px){
  body{
      padding-top: 2rem;
  }

  .container{
      width: 50%;
  }



}



@media screen and (max-width : 768px){
  body{
      padding-top: 1.5rem;
  }
  .container{
      width: 70vw;
  }
  .clear_history{
      width: 90%;
      font-size: .9rem;
  }




}


@media screen and (max-width : 480px)
{
  .container{
      width: 90vw;
  }
  .filter_box{
      font-size: .5rem;
  }
}